.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  background-image: url("world-map-wave-blue-red.jpg");
  background-size: cover;
  font-family: "Libre Baskerville", serif;
}

.container {
  margin: 30px auto 10px;
  padding: 10px 30px 5px 30px;
  width: 600px;
  border-radius: 4px;
  background-color: #e2565fdc;
  box-shadow: 0 0 12px 2px #ad4a51;
}
/* body */
h1 {
  font-family: "Vast Shadow", cursive;
  font-size: 55px;
  color: #e7ddc5;
  text-align: center;
}
/* searchbox */
.selectElement {
  text-align: center;
  margin: 0 auto;
}

.select {
  color: #152c34;
  background: #e7ddc5;
  padding: 4px;
  width: 50%;
  border-radius: 3px;
  font-size: 16px;
}

/* cities */

.city {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px auto;
  padding: 0 0 5px 0;
  border-bottom: 1px dashed #d6cab1;
}
.city:last-child {
  border: none;
}
h2 {
  margin: 0 0 0 0;
}
.date {
  font-size: 16px;
}
.timeElement {
  display: flex;
  font-weight: 700;
  gap: 6px;
}
.timeNumber {
  font-size: 35px;
}

.ampm {
  vertical-align: text-top;
  padding: 0 0 0 3px;
  font-size: 13px;
  line-height: 28px;
}

/* footer */
footer {
  text-align: center;
  font-weight: 700;
  color: #e7ddc5;

  font-family: "Libre Baskerville", serif;
  font-size: 12px;
}
strong {
  color: #e7ddc5;
}

.footer {
  background-color: #e2565f;
}
.heart {
  font-size: 8px;
  margin: 5px 0 0 5px;
}

.linkedIn {
  color: #e7ddc5;
}
.linkedIn:hover {
  color: #df868c;
  text-shadow: 1px 1px #c73640;
}
.gitHubLink {
  color: #e7ddc5;
}
.gitHubLink:hover {
  color: #df868c;
  text-shadow: 1px 1px #c73640;
}
