.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("world-map-wave-blue-red.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Libre Baskerville", serif;
  color: #911119;
  background-color: #e4d6b3;
}

.container {
  margin: 35px auto 8px;
  padding: 10px 30px 5px 30px;
  width: 600px;
  border-radius: 4px;
  background-color: #e2565fdc;
  box-shadow: 0 0 12px 2px #ad4a51;
  position: relative;
}
/* clock */

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00c4f87d;
  box-shadow: 0 0 8px 1px #155288c3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

/* body */
h1 {
  text-align: center;
  font-family: "Vast Shadow", cursive;
  font-size: 65px;

  color: #e7ddc5;
}
/* searchbox */
.selectElement {
  margin: 0 auto;
  text-align: center;
}

.select {
  padding: 4px;
  width: 50%;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #e7ddc5;
  box-shadow: 0 0 4px 0.4px #331619;
  color: #911119;
  background: #e7ddc5;
}
.current {
  color: #54bedc;
}
/* cities */

.city {
  margin: 10px auto;
  padding: 0 0 5px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cityborder {
  border-bottom: 1px dashed #d6cab1;
}

h2 {
  margin: 0 0 0 0;
}
.date {
  font-size: 16px;
}
.timeElement {
  display: flex;

  gap: 6px;
  font-weight: 700;
}
.timeNumber {
  font-size: 35px;
}

.ampm {
  padding: 0 0 0 3px;
  vertical-align: text-top;
  line-height: 28px;
  font-size: 13px;
}
.reloadButton {
  margin: 6px;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #e4555f;
  border-radius: 4px;
  box-shadow: 0 0 4px 0.4px #a52f38;
  color: #e7ddc5;
  background-color: #e4555fc1;
}
.reloadButton:hover {
  border: 1px solid #e7ddc5;
  border-radius: 4px;
  color: #e4555f;
  background-color: #e7ddc5;
}
/* footer */
footer {
  text-align: center;
  font-weight: 700;
  color: #e7ddc5;

  position: relative;
}
strong {
  color: #e7ddc5;
}

.footer {
  background-color: #e2565fb4;
  font-size: 18px;
}
.heart {
  margin: 5px 0 0 5px;
  font-size: 12px;
}
.addMargin{
margin-top: 55px;
}
.linkedIn {
  color: #e7ddc5;
}
.linkedIn:hover {
  color: #df868c;
}
.gitHubLink {
  color: #e7ddc5;
}
.gitHubLink:hover {
  color: #df868c;
}
